@{
    ViewData["Title"] = "Historia de los JJOO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TP06JJOO</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2>Historia de los Juegos Olímpicos</h2>
<p>Los Juegos Olímpicos tienen sus orígenes en la Antigua Grecia, donde se celebraron por primera vez en el año 776 a.C. en Olimpia. Originalmente, eran una serie de competiciones atléticas entre representantes de varias ciudades-estado y una celebración religiosa en honor a Zeus.</p>
<p>En la era moderna, los Juegos Olímpicos fueron revividos por el barón Pierre de Coubertin en 1896, celebrándose en Atenas, Grecia. Desde entonces, los Juegos han crecido hasta convertirse en uno de los eventos deportivos más grandes del mundo, con miles de atletas de casi todos los países compitiendo en una variedad de deportes.</p>
<p>Los Juegos Olímpicos son organizados cada cuatro años por el Comité Olímpico Internacional (COI), alternando entre los Juegos de Verano e Invierno. Cada edición se celebra en una ciudad diferente, proporcionando una plataforma global para la competencia deportiva y la promoción de la paz y la cooperación internacional.</p>
    <footer>
        <p>&copy; 2024 TP06JJOO. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
