@{
    ViewData["Title"] = "Países";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TP06JJOO</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <main class="container">
        <div class="card">
            <h2>Lista de Países</h2>
            <ul>
                @foreach (var pais in ViewBag.Paises)
                {
                    <li>
                         <a href="@Url.Action("DetallePais", "Home", new { idPais = pais.idPais })">@pais.Nombre</a>
                    </li>
                }
            </ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 TP06JJOO. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
